{
  "plugins": ["@babel/syntax-dynamic-import", "@babel/plugin-proposal-private-property-in-object"],
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ]
  ]
}
